<VirtualHost *:80>
    DocumentRoot "{{ drupal_project_dir }}/web"

    <Directory "{{ drupal_project_dir }}/web">
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/drupal_error.log
    CustomLog ${APACHE_LOG_DIR}/drupal_access.log combined
</VirtualHost>


