<VirtualHost *:80>
    ServerName drupal-app-alb-1963346511.us-east-1.elb.amazonaws.com
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/drupal/web

    <Directory /var/www/html/drupal/web>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/drupal_error.log
    CustomLog ${APACHE_LOG_DIR}/drupal_access.log combined
</VirtualHost>

