<?php
$databases['default']['default'] = array (
  'database' => '{{ drupal_db_name }}',
  'username' => '{{ drupal_db_user }}',
  'password' => '{{ drupal_db_pass }}',
  'host' => '{{ db_host }}',
  'port' => '3306',
  'driver' => 'mysql',
  'prefix' => '',
);

$settings['hash_salt'] = '{{ drupal_hash_salt | default("custom-salt") }}';
$settings['update_free_access'] = FALSE;
$config_directories['sync'] = 'sites/default/files/config_HASH/sync';

$settings['file_private_path'] = '/var/www/html/sites/default/files/private';
$settings['file_temp_path'] = '/tmp';
